// Global Styles

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 200%;
    width: 100%;
    box-sizing: border-box;
    transition: 1s ease-in-out;
    background: blue;
}

// Main Styles

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#demo {
    position: fixed;
    color: #fff;
    font-size: 2rem;
    font-family: monospace;
}